/* ----- STYLES FOR REG-NEW-USER.XHTML ----- */
h1 {
	color: steelblue;
	background: whitesmoke;
	padding: 10px;
	font-family: Tahoma;
	text-align: center;
	border-radius: 10px 10px 0 0;
	margin-bottom: 5px;
}

h4 {
	color: steelblue;
	font-family: Tahoma;
	text-align: center;
	margin-top: 0;
}

.reg-form-personal-info {
	border: 2px solid #ccc;
	padding: 1.5em;
	margin-bottom: 5px;
}

.reg-form-user-info {
	border: 2px solid #ccc;
	padding: 1.5em;
	border-radius: 0 0 10px 10px;
}

.reg-form-select-gender {
	color: steelblue;
}

#error-msg {
	display: none;
}

.input {
	width: 100%;
	padding: 5px 8px;
	margin: 3px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: steelblue;
	font-family: Tahoma;
}

.input-error {
	width: 100%;
	padding: 10px 18px;
	margin: 3px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: red;
	background-color: red;
	font-family: Tahoma;
}

.input:focus {
	outline: none;
	border: 1px solid steelblue;
}

.submit-btn {
	width: 100%;
	background-color: steelblue;
	color: white;
	padding: 7px 10px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: Tahoma;
}

.filter-btn {
	background-color: steelblue;
	color: white;
	padding: 7px 10px;
	margin: 8px 5px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: Tahoma;
}

/* ----- STYLES FOR INDEX.XHTML ----- */
.create-drop-div {
	display: none;
	background-color: grey;
	padding: 10px;
	background: whitesmoke;
	margin-bottom: 5px;
}

.create-comment-div {
	display: none;
}

.create-drop-input {
	resize: none;
}

.link-profile-page {
	color: steelblue;
	font-family: Tahoma;
}

.link-register-new-user {
	color: steelblue;
	font-family: Tahoma;
	float: right;
}

.navbar {
	padding: 10px;
	margin: 10px;
}

.login-username, .login-password, .login-btn-div {
	display: inline-block;
}

.login-username-input, .login-password-input {
	display: block;
}

.waterfall-div {
	background-color: steelblue;
	border-radius: 0 0 10px 10px;
	margin-bottom: 40px;
	padding: 1em;
}

.filter-div {
	color: steelblue;
	background: whitesmoke;
	padding: 10px;
	font-family: Tahoma;
	text-align: center;
	border-radius: 10px 10px 0 0;
	margin-bottom: 5px;
}

.navbar-default .navbar-brand {
	color: steelblue;
	font-family: Tahoma;
	margin-top: 15px;
	margin-left: 50px;
}

.form-update-user {
	border: 2px solid #ccc;
	padding: 1.5em;
	border-radius: 10px;
}

.test {
	margin: 1em;
	padding: 1em;
	border-radius: 10px;
	background: whitesmoke;
	border-radius: 10px;
}

.waterfall-username {
	font-size: 1.2em;
	display: inline-block;
}

.waterfall-creation-date {
	display: inline;
	color: dimgrey;
}

.waterfall-drop-content {
	background: white;
	padding: 1em;
	border-radius: 10px;
}

.comment-here-description {
	text-align: center;
	color: dimgrey;
	margin: 0;
	font-size: 0.7em;
}

.arrow-down {
	max-width: 20px;
	align: center;
}